#mylabel{
    text-align: center;
    font-size: 7em;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}
#counter{
    text-align: center;
}
.butn{
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(233, 13, 200);
}
.butn:hover{
    background-color: rgb(99, 109, 251);
}